.div-color{
  background-color:#fdd966 !important;
}
.color-nav{
  background-color:#fdd966!important;
}
body{
  background-color: #e9ecef;
}
.tamano-logo{
  height: 80px;
  width: auto;
}
.tamano-icono{
  height: 60px;
  width: auto;
}
.carousel {
  width: 800px; /* Ajusta el porcentaje según lo que desees */
  margin: 0 auto; /* Centrar el carrusel */
}

/*Esto lo hace respons*/
@media (max-width: 768px) {
  .carousel {
    width: 100%; /* Hacerlo completo en pantallas pequeñas */
  }
}
.titulo{
  text-align: center;
  margin:10px;
}
.epic-header {
  font-size: 4rem; /* Tamaño del texto */
  text-align: center;
  text-shadow: 
      3px 3px 0 rgba(0, 0, 0, 0.7),  /* Sombra oscura */
      5px 5px 0 rgba(255, 255, 0, 0.5); /* Sombra amarilla */
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Degradado de fondo */
  background-clip: text;
  margin: 0;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  transition: transform 0.3s;
}
.epic-header:hover {
  transform: scale(1.05); /* Efecto de ampliación al pasar el mouse */
}
.tituloH2{
  font-size: 3rem !important;
}
.tituloH3{
  font-size: 2rem !important;
}