.div-color{
    background-color:#fdd966 !important;
  }
  .color-nav{
    background-color:#fdd966!important;
  }
  body{
    background-color: #e9ecef;
  }
  .tamano-logo{
    height: 80px;
    width: auto;
  }

  .titulo{
    text-align: center;
    margin:10px;
  }
  .epic-header {
    font-size: 4rem; /* Tamaño del texto */
    text-align: center;
    text-shadow: 
        3px 3px 0 rgba(0, 0, 0, 0.7),  /* Sombra oscura */
        5px 5px 0 rgba(255, 255, 0, 0.5); /* Sombra amarilla */
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Degradado de fondo */
    background-clip: text;
    margin: 0;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s;
  }
  .epic-header:hover {
    transform: scale(1.05); /* Efecto de ampliación al pasar el mouse */
  }
  .tituloH2{
    font-size: 3rem !important;
  }
  .login-container {
    margin:0 auto;
    border: 2px solid #d3d3d3;
    border-radius: 15px;
    padding: 30px;
    width: 70%;
    background-color: #fdf6e3;
  }
  .btn-custom {
    background-color: #e6d8b6;
    color: black;
    border: 1px solid #d3d3d3;
  }
  .btn-custom:hover {
    background-color: #d3d3d3;
    color: black;
  }
  .form-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
  }
  .form-text-custom {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: gray;
  }
  .margin{
    margin-top: 0 !important;
  }